autopep8==1.4.3
backports.functools-lru-cache==1.5
BeautifulSoup==3.2.1
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
configparser==3.7.3
cycler==0.10.0
docutils==0.16
future==0.17.1
futures==3.2.0
idna==2.8
jedi==0.13.2
kiwisolver==1.0.1
matplotlib==2.2.4
mccabe==0.6.1
nltk==3.4.5
numpy==1.16.2
oauthlib==2.1.0
pandas==0.24.1
parso==0.3.1
pkg-resources==0.0.0
pluggy==0.8.0
py8chan==0.0.3
pycodestyle==2.4.0
pydocstyle==3.0.0
pyflakes==2.0.0
pyparsing==2.3.1
PySocks==1.6.8
python-dateutil==2.8.0
python-jsonrpc-server==0.0.2
python-language-server==0.21.4
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.0.0
rope==0.11.0
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==1.2.1
soupsieve==1.8
statistics==1.0.3.5
subprocess32==3.5.3
tweepy==3.7.0
urllib3==1.24.1
xlsx2csv==0.7.6
yapf==0.25.0
